<!DOCTYPE html>
<html lang="en">
<header>
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:32,height:32/https://www.filepicker.io/api/file/12cLfxXxQLKTCBfVCgy5" rel="icon" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:72,height:72/https://www.filepicker.io/api/file/12cLfxXxQLKTCBfVCgy5" rel="apple-touch-icon" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:144,height:144/https://www.filepicker.io/api/file/12cLfxXxQLKTCBfVCgy5" rel="apple-touch-icon" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:320,height:345/https://www.filepicker.io/api/file/SwQnSI5NTX6BodRF3LDX" rel="apple-touch-startup-image" type="image/png">
    <link href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:640,height:690/https://www.filepicker.io/api/file/SwQnSI5NTX6BodRF3LDX" rel="apple-touch-startup-image" type="image/png">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta charset="UTF-8">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="JadZO6Sdq7Vpsh3DBDQC88CmkzmXFcoxHanUrK1vbEFemfCYjnJMCc5ytcFbm2uvpPXby9qigbMsN8ItEfxzMg==" />
    <link rel="stylesheet" media="screen" href="https://fedora.teachablecdn.com/assets/bootstrap-a14e0219bff457941c01e229139fcb9f4709e289d96efa3a24bad96561d56e6c.css" data-turbolinks-track="true" />
    <link href="https://themes2.teachablecdn.com/themecss/production/base.css?_=f5ad7b904c20&amp;brand_course_heading=%23134361&amp;brand_heading=%23342E2E&amp;brand_homepage_heading=%23ff3f20&amp;brand_navbar_fixed_text=%23FFFFFF&amp;brand_navbar_text=%23FFFFFF&amp;brand_primary=%23134361&amp;brand_secondary=%23134361&amp;brand_text=%233F3A3A&amp;font=Raleway&amp;logged_out_homepage_background_image_overlay=0.0&amp;logged_out_homepage_background_image_url=https%3A%2F%2Fwww.filepicker.io%2Fapi%2Ffile%2FSwQnSI5NTX6BodRF3LDX&amp;show_login=true&amp;show_signup=true" rel="stylesheet" data-turbolinks-track="true"></link>
    <meta name="description" content="Yazılım geliştirme için başlangıç noktası.">
    <link rel="canonical" href="https://www.kodlama.io">
    <meta property="og:description" content="Yazılım geliştirme için başlangıç noktası.">
    <meta property="og:image" content="https://www.filepicker.io/api/file/SwQnSI5NTX6BodRF3LDX">
    <meta property="og:title" content="Kodlama.io">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.kodlama.io">
    <meta name="brand_video_player_color" content="#ff3f20">
    <meta name="site_title" content="Kodlama.io">
    <style></style>
    <script src="//fast.wistia.com/assets/external/E-v1.js"></script>
    <script src="https://www.recaptcha.net/recaptcha/api.js" async defer></script>
    <meta name="asset_host" content="https://fedora.teachablecdn.com">
    <script src="https://fedora.teachablecdn.com/packs/student-globals--66aa5c3932a3054d7ef0.js"></script>
    <script src="https://fedora.teachablecdn.com/packs/student-legacy--fb76d20ccc03871e137a.js"></script>
    <script src="https://fedora.teachablecdn.com/packs/student--ab94d6de924b36793137.js"></script>
    <meta id="iris-url" data-iris-url="https://eventable.internal.teachable.com" />
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) { window.heap.appid = e, window.heap.config = t = t || {}; var r = document.createElement("script"); r.type = "text/javascript", r.async = !0, r.src = "https://cdn.heapanalytics.com/js/heap-" + e + ".js"; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(r, a); for (var n = function (e) { return function () { heap.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], o = 0; o < p.length; o++)heap[p[o]] = n(p[o]) }, heap.load("318805607");
        window.heapShouldTrackUser = true;
    </script>
    <script type="text/javascript">
        var _user_id = '52453779'; // Set to the user's ID, username, or email address, or '' if not yet known.
        var _session_id = 'f00e357acb01ff9c53065ebc7d8d5c2c'; // Set to a unique session ID for the visitor's current browsing session.

        var _sift = window._sift = window._sift || [];
        _sift.push(['_setAccount', '2e541754ec']);
        _sift.push(['_setUserId', _user_id]);
        _sift.push(['_setSessionId', _session_id]);
        _sift.push(['_trackPageview']);

        (function () {
            function ls() {
                var e = document.createElement('script');
                e.src = 'https://cdn.sift.com/s.js';
                document.body.appendChild(e);
            }
            if (window.attachEvent) {
                window.attachEvent('onload', ls);
            } else {
                window.addEventListener('load', ls, false);
            }
        })();
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SHV2EDV7NG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-SHV2EDV7NG');
    </script>
    <script>
        if (typeof ga != 'function') {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        }
        ga('create', 'UA-44397410-1', 'auto', { 'name': 'fedoraTracker', 'allowLinker': true });
        ga('fedoraTracker.set', 'anonymizeIp', false);
        ga('fedoraTracker.require', 'linker');
        ga('fedoraTracker.linker:autoLink', ['www.kodlama.io', 'sso.teachable.com'], false, true);
        ga('fedoraTracker.require', 'ecommerce');
        ga('fedoraTracker.require', 'ec');
        ga('fedoraTracker.send', 'pageview');
        ga('create', 'UA-44397410-4', 'auto', { 'name': 'teachableTracker', 'allowLinker': true });
        ga('teachableTracker.set', 'anonymizeIp', false);
        ga('teachableTracker.require', 'linker');
        ga('teachableTracker.linker:autoLink', ['www.kodlama.io', 'sso.teachable.com'], false, true);
        ga('teachableTracker.require', 'ecommerce');
        ga('teachableTracker.require', 'ec');
        ga('teachableTracker.send', 'pageview');
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</header>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

      <footer class="bottom-menu bottom-menu-inverse">
                <div class="footerContent">
                    <div class="flex-grid">
                        <div class="col-12-xs col-4-s col-4-m footer-column">
                            <p>
                                &copy;
                                Kodlama.io
                                2024
                            </p>
                        </div>
                        <div class="col-12-xs col-4-s col-4-m footer-column">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/p/terms">
                                        Kullanım Koşulları
                                    </a>
                                </li>
                                <li>
                                    <a href="/p/privacy">
                                        Gizlilik Politikası
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12-xs col-4-s col-4-m footer-column">
                        </div>
                    </div>
                </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
